// Restaurants
#restaurant-name,
#reviews-container > h2
	color: darken( $primary-color, 23% );
	text-align: center;

#restaurant-container,
#reviews-container
	max-width: 800px;
	margin: 0 auto;

#restaurant-cuisine
	color: white;
	font-weight: bold;
	min-height: 28px;

#restaurant-address
	margin-top: -15px;
	font-style: italic;
	text-align: center;

#reviews-list
	flex-direction: column;
	li
		max-width: 100%;
		width: 100%;
		p
			em,
			span
				display: block;
